<html>
<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Destroy', "/posts/#{@post.id}/delete" %>
<p>
  <strong>User:</strong>
  <%= @post.user.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.body %>
</p>
</html>